.warm-gradient {
    background: linear-gradient(45deg, #FFB74D, #FF8A65);
  }

  .v-application--wrap {
    transition: background-color 0.5s;
  }

  .v-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }