<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>欢迎来到心聆守护</title>
		<!-- 引入 Vue 和 Vuetify 的 JS -->
		<script src="../js/vue.js"></script>
		<script src="../js/vuetify.js"></script>
		<script src="../js/socket.io.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/vuex.global.min.js"></script>
		<script src="../js/global_login.js"></script>
		<link href="https://unpkg.com/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css" />
		<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
		<!-- 引入 Vuetify 的 CSS -->
		<link href="../css/materialdesignicons.min.css" rel="stylesheet">
		<link href="../css/vuetify.min.css" rel="stylesheet">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	</head>
	<body>
		<div id="app">
			<!-- 用户操作 -->
			<v-menu v-model="menuOpen" :close-on-content-click="false" :nudge-right="40" offset-y>
				<template v-slot:activator="{ on }">
					<v-btn icon v-on="on">
						<v-icon>mdi-dots-vertical</v-icon>
					</v-btn>
				</template>
				<v-list>
					<v-list-item @click="viewProfile">
						<v-list-item-icon>
							<v-icon>mdi-account</v-icon>
						</v-list-item-icon>
						<v-list-item-title>查看个人资料</v-list-item-title>
					</v-list-item>
					<v-list-item @click="changePassword">
						<v-list-item-icon>
							<v-icon>mdi-lock</v-icon>
						</v-list-item-icon>
						<v-list-item-title>修改密码</v-list-item-title>
					</v-list-item>
					<v-divider></v-divider>
					<v-list-item @click="logout">
						<v-list-item-icon>
							<v-icon>mdi-logout</v-icon>
						</v-list-item-icon>
						<v-list-item-title>退出登录</v-list-item-title>
					</v-list-item>
				</v-list>
			</v-menu>

			<!-- 查看个人资料对话框 -->
			<v-dialog v-model="profileDialog" max-width="500px">
				<v-card>
					<v-card-title>个人资料</v-card-title>
					<v-card-text>
						<v-form ref="profileForm">
							<v-text-field label="用户名" v-model="userProfile.username" readonly></v-text-field>
							<v-text-field label="邮箱" v-model="userProfile.email" readonly></v-text-field>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click="profileDialog = false">关闭</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>


			<!-- 系统设置 -->
			<v-dialog v-model="settingsDialog" max-width="500">
				<v-card>
					<v-card-title class="headline">系统设置</v-card-title>
					<v-card-text>
						<!-- 隐私设置 -->
						<v-checkbox v-model="showProfile" label="显示个人资料"></v-checkbox>
						<!-- 通知设置 -->
						<v-select v-model="notificationType" :items="notificationTypes" label="通知类型"></v-select>
						<v-checkbox v-model="receiveEmail" label="接收邮件通知"></v-checkbox>

						<!-- 语言设置 -->
						<v-select v-model="language" :items="languages" label="语言"></v-select>
					</v-card-text>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" @click="saveSettings">保存</v-btn>
						<v-btn @click="closeSettingsDialog">取消</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- 修改密码对话框 -->
			<v-dialog v-model="passwordDialog" max-width="500px">
				<v-card>
					<v-card-title>修改密码</v-card-title>
					<v-card-text>
						<v-form ref="passwordForm">
							<v-text-field label="当前密码" v-model="passwordForm.currentPassword"
								type="password"></v-text-field>
							<v-text-field label="新密码" v-model="passwordForm.newPassword" type="password"></v-text-field>
							<v-text-field label="确认新密码" v-model="passwordForm.confirmPassword"
								type="password"></v-text-field>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click="changePasswordConfirm">确认</v-btn>
						<v-btn text @click="closePasswordDialog">取消</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- 登录注册 -->
			<v-snackbar v-model="showToast" :timeout="2000" color="orange" :top="true" style="text-align: center;">
				{{ errorMessage }}
			</v-snackbar>
			<v-dialog v-model="loginDialog" max-width="500" persistent>
				<v-card>
					<v-tabs v-model="tab">
						<v-tab>登录</v-tab>
						<v-tab>注册</v-tab>
					</v-tabs>

					<v-tabs-items v-model="tab">
						<v-tab-item>
							<v-card-text>
								<v-text-field label="用户名" v-model="username" outlined maxlength="20"
									placeholder="请输入用户名" clearable prepend-inner-icon="mdi-account"
									:rules="[v => !!v || '用户名不能为空']"></v-text-field>
								<v-text-field label="密码" type="password" v-model="password" outlined maxlength="20"
									placeholder="请输入密码" clearable prepend-inner-icon="mdi-lock"
									:rules="[v => !!v || '密码不能为空']"></v-text-field>

							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click="login" block>登录</v-btn>
							</v-card-actions>
						</v-tab-item>

						<v-tab-item>
							<v-card-text>
								<!-- 添加注册表单的内容 -->
								<v-text-field label="用户名" v-model="newUsername" outlined outlined maxlength="20"
									placeholder="请输入用户名" prepend-inner-icon="mdi-account"
									:rules="[v => !!v || '用户名不能为空']"></v-text-field>
								<v-text-field label="邮箱" v-model="newEmail" outlined outlined maxlength="50"
									placeholder="请输入邮箱" prepend-inner-icon="mdi-email"
									:rules="[v => !!v || '邮箱不能为空', v => /.+@.+\..+/.test(v) || '邮箱格式不正确']"></v-text-field>
								<v-text-field label="密码" type="password" v-model="newPassword" outlined maxlength="20"
									placeholder="请输入密码" clearable prepend-inner-icon="mdi-lock"
									:rules="[v => !!v || '密码不能为空']"></v-text-field>
								<v-text-field label="确认密码" type="password" v-model="confirmPassword" outlined
									maxlength="20" placeholder="请输入密码" clearable prepend-inner-icon="mdi-lock"
									:rules="[v => !!v || '确认密码不能为空', v => newPassword === v || '两次密码输入不一致']"></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click="register" block>注册</v-btn>
							</v-card-actions>

						</v-tab-item>
					</v-tabs-items>
				</v-card>
			</v-dialog>



			<!-- 决策树 -->
			<v-dialog v-model="showTreeDialog" max-width="1000px" @opened="drawDecisionTree">
				<v-card>
					<v-card-title>决策树</v-card-title>
					<v-card-text>
						<svg width="960" height="600"></svg>
						<script src="https://d3js.org/d3.v7.min.js"></script>
						<script src="../js/tree.js"></script>
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click="showTreeDialog = false">关闭</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

			<!--创建助手-->
			<v-dialog v-model="assistantDialog" max-width="500">
				<v-card>
					<v-tabs v-model="tab">
						<v-tab>自定义</v-tab>
						<!-- 						<v-tab>自由创作</v-tab> -->

						<v-tab-item>
							<v-card>
								<v-card-title>创建新助手</v-card-title>
								<v-card-text>
									<v-row dense>
										<v-col cols="12">
											<v-text-field label="姓名" outlined prepend-inner-icon="mdi-account"
												v-model="assistant.name" maxlength="20"></v-text-field>
										</v-col>
										<v-col cols="12">
											<v-text-field label="描述" outlined prepend-inner-icon="mdi-information"
												v-model="assistant.description" maxlength="200"></v-text-field>
										</v-col>
										<v-col cols="12">
											<v-text-field label="功能" outlined prepend-inner-icon="mdi-cog"
												v-model="assistant.function" maxlength="200"></v-text-field>
										</v-col>
										<v-col cols="12">
											<v-text-field label="个人信息" outlined prepend-inner-icon="mdi-account-details"
												v-model="assistant.user_detail" maxlength="200"></v-text-field>
										</v-col>
									</v-row>
								</v-card-text>
								<v-card-actions class="justify-end">
									<v-btn color="primary" @click="saveAssistant">创建</v-btn>
									<v-btn @click="closeAssistantDialog">取消</v-btn>
								</v-card-actions>
							</v-card>
						</v-tab-item>
						<!-- 
						<v-tab-item>
							<v-card>
								<v-card-title>自由创作</v-card-title>
								<v-card-text>
									<v-row dense>
										<v-col cols="12">
											<v-textarea label="请输入内容" v-model="textContent" clearable auto-grow outlined
												rows="3"></v-textarea>
										</v-col>
									</v-row>
								</v-card-text>
								<v-card-actions class="justify-end">
									<v-btn color="primary" @click="createContent">创建</v-btn>
									<v-btn @click="closeAssistantDialog">取消</v-btn>
								</v-card-actions>
							</v-card>
						</v-tab-item> -->

					</v-tabs>
				</v-card>
			</v-dialog>

			<!--  -->
			<v-app id="inspire">
				<v-system-bar app>
					<v-spacer></v-spacer>
					<v-btn icon @click="showSettingsDialog">
						<!-- 设置图标 -->
						<v-icon>mdi-cog</v-icon>
					</v-btn>

					<!-- 切换日夜模式按钮 -->
					<v-btn icon @click="toggleDarkMode">
						<v-icon>{{ darkMode ? 'mdi-white-balance-sunny' : 'mdi-brightness-2' }}</v-icon>
					</v-btn>

					<!-- 切换多语言模型按钮 -->
					<v-btn icon @click="toggleLanguage">
						<v-icon>mdi-translate</v-icon>
					</v-btn>
				</v-system-bar>

				<v-app-bar app clipped-right flat height="72">
					<v-icon :color="moodColor" @click="toggleMood">{{ moodIcon }}</v-icon>
					<v-toolbar-title>{{ chatTitle }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-tooltip bottom>
						<!-- 右侧沉浸模式按钮 -->
						<template v-slot:activator="{ on }">
							<v-icon v-on="on" class="icon">mdi-fullscreen</v-icon>
						</template>
						<span>沉浸模式</span>
					</v-tooltip>
					<!-- 删除聊天记录的图标按钮 -->
					<v-tooltip bottom>
						<template v-slot:activator="{ on }">
							<v-icon v-on="on" class="icon" @click="clearChatHistory">mdi-delete</v-icon>
						</template>
						<span>删除聊天记录</span>
					</v-tooltip>
				</v-app-bar>

				<v-navigation-drawer v-model="drawer" app width="300">
					<v-navigation-drawer v-model="drawer" absolute mini-variant>
						<v-avatar class="d-block text-center mx-auto mt-4" size="36" @click="toggleMenu"
							style="cursor: pointer;">
							<v-img src="../img/a-lovely-human-being.png" alt="User Avatar"></v-img>
						</v-avatar>

						<v-divider class="mx-3 my-5"></v-divider>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9" @click="topage('')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-chat</v-icon>
								</template>
								<span>聊天</span>
							</v-tooltip>
						</v-btn>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/data.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-database</v-icon>
								</template>
								<span>数据</span>
							</v-tooltip>
						</v-btn>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/warning.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-alert</v-icon>
								</template>
								<span>警告</span>
							</v-tooltip>
						</v-btn>
						<!-- 添加 VR 图标按钮 -->
						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/vr.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-eye</v-icon>
								</template>
								<span>VR</span>
							</v-tooltip>
						</v-btn>

						<!-- 添加知识库图标按钮 -->
						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/knowledge.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-book-open-page-variant</v-icon>
								</template>
								<span>知识库</span>
							</v-tooltip>
						</v-btn>
					</v-navigation-drawer>




					<v-btn width="100%" elevation="0" class="mx-3 my-3" @click="openAssistantDialog" block>
						<v-icon left>mdi-robot</v-icon>
						创建新助手

						<v-icon right>mdi-plus</v-icon>

					</v-btn>
					<v-divider class="mx-3 my-3"></v-divider>
					<v-list class="pl-14" shaped>
						<v-list-item v-for="item in assistants" :key="item.id" link
							:active-class="selectedItem === item ? 'selected-item' : ''" @click="selectItem(item)">
							<v-list-item-content>
								<v-list-item-title>{{ item.name }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list>
				</v-navigation-drawer>


				<v-main>

					<!-- 消息列表 -->
					<v-container id="message-list" style="padding-bottom: 60px; overflow-y: auto;">
						<v-row v-for="(message, index) in messages" :key="index">
							<v-col cols="12">
								<div>
									<v-avatar size="40">
										<img :src="message.sender === 'robot' ? '../img/a-lovely-robot.png' : '../img/a-lovely-human-being.png'"
											alt="Avatar">
									</v-avatar>
									<span
										style="font-weight: bold;">{{ message.sender === 'robot' ? '小海' : '你' }}</span>
									<!-- 如果消息为 ，显示加载中的进度圆 -->
									<v-progress-circular
										v-if="message.content === '思考中...' || message.content === '初始化心理助手...' || message.content === '查询心理学知识库中...'"
										indeterminate color="primary" size="16"></v-progress-circular>
								</div>
								<div>
									<span>{{ message.content }}</span>
								</div>
								<div v-if="message.content === '查询心理学知识库中...'" class="query-link-box">
									<v-btn :href="generateQueryLink(message)" target="_blank" color="primary"
										small>查看查询结果</v-btn>
								</div>
								<div class="icon-container">
									<!-- 复制文本的图标 -->
									<v-tooltip bottom v-if="message.sender === 'robot'">
										<template v-slot:activator="{ on }">
											<v-icon v-on="on" size="18" class="icon mdi-content-copy"
												@click="copyToClipboard(message.content)">mdi-content-copy</v-icon>
										</template>
										<span>复制文本</span>
									</v-tooltip>
									<!-- 决策树的图标 -->
									<v-tooltip bottom v-if="message.sender === 'robot'">
										<template v-slot:activator="{ on }">
											<v-icon v-on="on" size="18" class="icon mdi-shape-outline"
												@click="showTreeDialog = true">mdi-shape-outline</v-icon>
										</template>
										<span>决策树</span>
									</v-tooltip>
									<!-- 倒赞的图标 -->
									<v-tooltip bottom v-if="message.sender === 'robot'">
										<template v-slot:activator="{ on }">
											<v-icon v-on="on" size="18" class="icon mdi-thumb-down-outline"
												@click="daozan(message)">mdi-thumb-down-outline</v-icon>
										</template>
										<span>倒赞</span>
									</v-tooltip>
									<!-- 语音播放的图标 -->
									<!-- <v-tooltip bottom v-if="message.sender === 'robot'">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" size="18" class="icon mdi-play-circle-outline">mdi-play-circle-outline</v-icon>
            </template>
            <span>语音播放</span>
          </v-tooltip> -->
								</div>
							</v-col>
						</v-row>
					</v-container>

				</v-main>

				<v-footer app height="72" inset>
					<v-text-field v-model='newMessage' background-color="lighten-3" dense flat hide-details rounded solo
						placeholder="今天想分享点什么？">
						<template v-slot:append>
							<v-btn icon @click="sendMessage">
								<v-icon>mdi-arrow-up</v-icon>
							</v-btn>
						</template>
					</v-text-field>
					<div class="warn" style="font-size: small;">
						内容由AI生成，仅供参考，请遵守<a href="./contract.html">《心聆守护用户协议》</a>和<a
							href="./Privacy_Policy.html">《隐私政策》</a>
					</div>
				</v-footer>
			</v-app>

		</div>

		<style>
			.node circle {
				fill: #fff;
				stroke: steelblue;
				stroke-width: 3px;
			}

			.highlight circle {
				fill: orange;
				stroke: red;
				stroke-width: 3px;
			}

			.node text {
				font: 12px sans-serif;
			}

			.link {
				fill: none;
				stroke: #ccc;
				stroke-width: 2px;
			}

			.highlight-link {
				stroke: orange;
				stroke-width: 3px;
			}
		</style>
		<style>
			/* #region图标 */
			@font-face {
				font-family: 'iconfont';
				src: url('../public/iconfont.woff2?t=1710768339274') format('woff2'),
					url('../public/iconfont.woff?t=1710768339274') format('woff'),
					url('../public/iconfont.ttf?t=1710768339274') format('truetype');
			}

			.iconfont {
				font-family: "iconfont" !important;
				font-size: 16px;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			/* #endregion图标 */
			/* .new-dialog,.oppointment,.report,.community,.immerse {
    margin-left: 25px;
} */
			/* 添加鼠标手型 */
			.avatar:hover {
				cursor: pointer;
			}

			/* 添加鼠标移入效果 */
			.avatar:hover {
				background-color: #868686;
				/* 淡灰色背景 */
			}

			.selected-item {
				background-color: #EDEDED;
				/* 修改选中后的背景色 */
				/* 其他样式修改 */
			}

			.oppointment,
			.report,
			.community,
			.immerse {
				height: 72px;
				line-height: 72px;
				padding: 0 25px;
			}

			a {
				text-decoration: none;
			}

			.warn {
				margin-left: 18px;
				font-size: small;
			}

			.theme--light .oppointment:hover {
				background-color: #EDEDED;
			}

			.theme--light .report:hover {
				background-color: #EDEDED;
			}

			.theme--light .community:hover {
				background-color: #EDEDED;
			}

			.theme--light .immerse:hover {
				background-color: #EDEDED;
			}

			.theme--dark .oppointment:hover {
				background-color: #383838;
			}

			.theme--dark .report:hover {
				background-color: #383838;
			}

			.theme--dark .community:hover {
				background-color: #383838;
			}

			.theme--dark .immerse:hover {
				background-color: #383838;
			}

			.icon-container {
				display: flex;
				justify-content: flex-start;
				margin-top: 5px;
				/* 添加一点间距 */
			}

			.icon {
				cursor: pointer;
				/* 添加鼠标手型 */
				margin-right: 10px;
				/* 添加图标之间的间距 */
				font-size: 10px;
				/* 调整图标大小 */
			}

			#decision-tree {
				width: 100%;
				height: 100%;
			}
		</style>
		<script src="https://d3js.org/d3.v6.min.js"></script>

		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify({
					icons: {
						iconfont: 'mdi', // 默认图标集
					},
					theme: {
						dark: false
					}
				}),
				data() {
					return {
						// 个人资料
						profileDialog: false,
						userProfile: {
							username: '用户123', // 示例数据
							email: 'user123@example.com' // 示例数据
						},
						passwordForm: {
							currentPassword: '',
							newPassword: '',
							confirmPassword: ''
						},
						// 决策树
						showTreeDialog: false,
						// 用户信息
						userId: 0,
						username: "",
						password: "",
						email: "",
						// 界面状态
						drawer: true,
						settingsDialog: false,
						loginDialog: false,
						showToast: false,
						errorMessage: '',
						tab: 0,
						// 助手相关
						selectedItem: null,
						selectId: 0,
						assistants: [],
						assistant: {
							name: '',
							description: '',
							function: '',
							user_detail: ''
						},
						assistantDialog: false,
						// 消息相关
						chatTitle: "",
						messages: [{
							sender: 'robot',
							content: '欢迎来到心聆守护， 让我们一起来进行心理探讨和交流吧。 我可以为您查找心理知识、深入分析心理问题和为你提供安全保护。🤗🤗🤗 '
						}],
						newMessage: "",
						// 注册用户
						newUsername: "",
						newPassword: "",
						confirmPassword: "",
						newEmail: "",
						// 用户操作
						menuOpen: false,
						passwordDialog: false,
						// 系统设置
						showProfile: false,
						notificationTypes: [],
						notificationType: '',
						receiveEmail: true,
						languages: [],
						// 其他设置
						darkMode: false,
						language: true,
						mood: 'mdi-emoticon-happy-outline',
						url: 'http://8.134.48.111:8000/api',
						// 心情
						moodIcon: "mdi-emoticon-outline",
						moodColor: "black",
						immersiveMode: false,
						// 决策树
						treeData: {
							name: "用户",
							children: [{
								name: "判断内容类型",
								children: [{
										name: "RAG知识库查询系统",
									},
									{
										name: "心理大语言模型助手",
									},
									{
										name: "心理状态预警系统",
									},
								],
							}, ],
						},
					};
				},
				mounted() {

					this.darkMode = this.getCookie("darkMode");
					this.$vuetify.theme.dark = this.getCookie("darkMode");

					this.checkAuthentication();
					window.addEventListener('keydown', this.handleHotkey);
					// 加载本地存储的历史消息
					const storedMessages = localStorage.getItem('chatMessages');
					if (storedMessages) {
						this.messages = JSON.parse(storedMessages);
					}
				},
				methods: {
					// 打开修改密码对话框
					openPasswordDialog() {
						this.passwordDialog = true;
					},
					// 关闭修改密码对话框
					closePasswordDialog() {
						this.passwordDialog = false;
					},
					// 处理沉浸模式按钮点击事件
					handleImmersionModeClick() {
						this.showSnackbar();
					},
					// 显示 Snackbar
					showSnackbar() {
						this.isSnackbarVisible = true;
					},
					// 关闭 Snackbar
					closeSnackbar() {
						this.isSnackbarVisible = false;
					},
					clearChatHistory() {
						// 删除聊天记录
						localStorage.removeItem('chatMessages'); // 假设聊天记录存储在'chatHistory'键下
						// 你可以在这里添加其他需要删除的缓存项


						// 提示用户聊天记录已删除
						this.errorMessage = "聊天记录已删除",
							this.showToast = true,
							this.messages = [{
								sender: 'robot',
								content: '欢迎来到心聆守护， 让我们一起来进行心理探讨和交流吧。 我可以为您查找心理知识、深入分析心理问题和为你提供安全保护。🤗🤗🤗 '
							}]

					},
					drawDecisionTree() {
						// 等待下一次 DOM 更新周期
						this.$nextTick(() => {
							// 获取容器元素
							const container = document.getElementById("decision-tree");

							// 清空之前的图表
							container.innerHTML = "";

							// 定义节点和边
							const nodes = new vis.DataSet([{
									id: 1,
									label: "用户"
								},
								{
									id: 2,
									label: "判断内容类型"
								},
								{
									id: 3,
									label: "rag知识库查询系统"
								},
								{
									id: 4,
									label: "心理大语言模型助手"
								},
								{
									id: 5,
									label: "心理状态预警系统"
								}
							]);

							const edges = new vis.DataSet([{
									from: 1,
									to: 2
								},
								{
									from: 2,
									to: 3
								},
								{
									from: 2,
									to: 4
								},
								{
									from: 2,
									to: 5
								}
							]);

							// 创建网络
							const data = {
								nodes: nodes,
								edges: edges
							};
							const options = {
								layout: {
									hierarchical: {
										direction: "UD",
										sortMethod: "directed"
									}
								},
								physics: false
							};

							new vis.Network(container, data, options);
						});
					},
					daozan(message) {
						this.errorMessage = '反馈成功，谢谢！';
						this.showToast = true;
					},
					copyToClipboard(text) {
						if (navigator.clipboard) {
							navigator.clipboard.writeText(text).then(() => {
								this.errorMessage = '文本已复制到剪贴板';
								this.showToast = true;
							}).catch(err => {
								this.fallbackCopyTextToClipboard(text);
							});
						} else {
							this.fallbackCopyTextToClipboard(text);
						}
					},

					fallbackCopyTextToClipboard(text) {
						// Create a temporary textarea element, set its value to the text to copy and append it to the body
						const textarea = document.createElement('textarea');
						textarea.value = text;
						document.body.appendChild(textarea);

						// Select the text in the textarea
						textarea.select();
						try {
							// Execute the copy command
							const result = document.execCommand('copy');
							if (result) {
								this.errorMessage = '文本已复制到剪贴板';
								this.showToast = true;
							} else {
								this.errorMessage = '复制失败，请重试！';
								this.showToast = true;
							}
						} catch (err) {
							this.errorMessage = '复制失败，请重试！' + err;
							this.showToast = true;
						}

						// Remove the textarea from the body
						document.body.removeChild(textarea);
					},

					// 检查用户登录状态
					checkAuthentication() {
						if (!this.getCookie("isAuthenticated")) {
							this.openLoginDialog();
						} else {
							this.userId = this.getCookie("user_id");
							this.username = this.getCookie("username");
							this.userProfile.username = this.username
							// this.userProfile.email=
							this.fetchAssistants();
						}
					},
					// 获取助手列表
					fetchAssistants() {
						axios.get(`${this.url}/assistant/listAll?user_id=${this.userId}`)
							.then(response => {
								const data = response.data;
								if (data.code === 200) {
									this.assistants = data.data;
									this.selectedItem = data.data[0];
									this.selectId = data.data[0].id;
									this.chatTitle = data.data[0].name;
								}
							})
							.catch(error => {
								console.error('Error fetching assistants:', error);
							});
					},
					getCookie(name) {
						// 创建一个空对象
						const cookieMap = {};
						// 获取当前页面的cookie，并以分号空格分割
						const cookies = document.cookie.split("; ");
						// 遍历cookie，并以等号分割，存入cookieMap中
						cookies.forEach(cookie => {
							const [key, value] = cookie.split("=");
							cookieMap[key] = value;
						});
						// 返回cookieMap中name对应的值
						return cookieMap[name];
					},
					setCookie(name, value, days) {
						// 初始化expires
						let expires = "";
						// 如果传入了days参数
						if (days) {
							// 创建一个Date对象
							const date = new Date();
							// 设置date对象的值，加上days参数的值，转换为毫秒数
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							// 设置expires的值为分号空格，加上date对象转换为UTC时间格式
							expires = "; expires=" + date.toUTCString();
						}
						// 设置cookie，参数为name，value，expires
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					},
					showSettingsDialog() {
						this.settingsDialog = true;
					},
					closeSettingsDialog() {
						this.settingsDialog = false;
					},
					saveSettings() {
						// 保存设置的逻辑
						console.log('保存设置');
						this.closeSettingsDialog(); // 保存后关闭设置窗体
					},
					// 打开登录窗口
					openLoginDialog() {
						this.loginDialog = true;
					},
					// 关闭登录窗口
					closeLoginDialog() {
						this.loginDialog = false;
					},
					// 用户登录
					login() {
						if (this.username && this.password) {
							axios.post(`${this.url}/user/login`, {
									username: this.username,
									password: this.password
								})
								.then(response => {
									const data = response.data;
									if (data.code === 200) {
										const userData = data.data;
										this.setCookie("isAuthenticated", true, 1);
										this.setCookie("user_id", userData.id, 1);
										this.userId = userData.id;
										this.setCookie("username", userData.username, 1);
										this.username = userData.username;
										this.loginDialog = false;
										this.checkAuthentication();
										this.password = '';
									} else {
										console.error('Login failed:', response);
									}
								})
								.catch(error => {
									this.errorMessage = error.message;
									this.showToast = true;
								});
						} else {
							alert('请输入用户名和密码');
						}
					},
					// 注册新用户
					register() {
						// 这里添加注册逻辑
						if (this.newUsername && this.newPassword && this.confirmPassword) {
							// 检查密码是否匹配
							if (this.newPassword !== this.confirmPassword) {
								alert('确认密码不匹配');
								return;
							}
							// 调用注册接口或者其他注册逻辑
							// 调用登录接口或者其他登录逻辑
							axios.post(this.url + "/user/register", {
								username: this.newUsername,
								password: this.newPassword,
								email: this.newEmail,

							}).then(response => {
								data = response.data
								// 登录成功后关闭对话框
								if (data.code == 200) {

									// 注册成功后切换到tab
									this.tab = 0;
									// 清空注册表单字段
									this.newUsername = '';
									this.newPassword = '';
									this.confirmPassword = '';
									this.newEmail = '';
									// 清空登录表单字段
									this.username = '';
									this.password = '';
								} else {
									console.log(response)
								}

							}).catch(error => {
								this.errorMessage = error.message;
								this.showToast = true;
							});

						}
					},
					selectItem(item) {
						this.selectedItem = item;
						console.log(item)
						this.chatTitle = item.name
						this.selectId = item.id
						// 执行选中后的逻辑
					},
					toggleLoginDialog() {
						this.loginDialog = !this.loginDialog;
					},
					toggleMood() {
						// 切换心情图标和颜色
						if (this.moodIcon === "mdi-emoticon-outline") {
							this.moodIcon = "mdi-emoticon-happy-outline";
							this.moodColor = "yellow";
						} else {
							this.moodIcon = "mdi-emoticon-outline";
							this.moodColor = "black";
						}
					},
					topage(route) {
						window.open(route, "_self")

					},
					// 切换日夜模式
					toggleDarkMode() {
						this.darkMode = !this.darkMode;
						this.$vuetify.theme.dark = this.darkMode;
						this.setCookie('darkMode', this.darkMode, 1000)
					},
					// 切换语言
					toggleLanguage() {
						this.language = !this.language;
						// 添加切换语言的逻辑
					},
					// 打开助手对话框
					openAssistantDialog() {
						this.assistantDialog = true;
					},
					// 关闭助手对话框
					closeAssistantDialog() {
						this.assistantDialog = false;
					},
					saveAssistant() {
						// 检查输入内容的合理
						if (!this.assistant.name || !this.assistant.description || !this.assistant.function || !
							this
							.assistant.user_detail) {
							this.errorMessage = '请输入内容';
							this.showToast = true;
							return;

						} else {

							this.loading = true;
							// const aiResponse = await axios.post(`${this.url}/assistant/ai/choice`, {
							// 	message: sendMessage,
							// 	user_id: this.userId
							// }, {
							// 	headers: {
							// 		'Content-Type': 'application/x-www-form-urlencoded'
							// 	}
							// });
							// 在这里编写保存助手的逻辑
							// 可以发送请求将输入框中的数据保存到数据库等
							axios.post(this.url + '/assistant/create', {
									user_id: parseInt(this.userId),
									name: this.assistant.name,
									description: this.assistant.description,
									function: this.assistant.function,
									user_detail: this.assistant.user_detail
								}, {
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded',
									}
								})
								.then(response => {
									data = response.data
									if (data.code == 200) {
										this.loading = false;
										this.closeAssistantDialog();
										this.getNewAssistant(this.userId);
									}

								}).catch(error => {
									this.errorMessage = error.message;
									this.showToast = true;
								});
						}

						// 保存成功后关闭对话框
					},
					getNewAssistant(user_id) {
						axios.get(this.url + '/assistant/allList?user_id=' + user_id).then(response => {

							data = response.data
							if (data.code = 200) {
								this.assistants = data.data

							}
						})

					},
					// 在适当的地方调用此函数来获取历史消息
					async fetchChatHistory() {
						try {
							const response = await axios.get('/api/chat/history');
							const history = response.data.messages;
							// 处理历史消息
							displayChatHistory(history);
						} catch (error) {
							console.error('Error fetching chat history:', error);
						}
					},

					// 将历史消息展示在界面上的函数示例
					displayChatHistory(history) {
						// 假设 messages 是一个数组，每个元素是消息对象，具有 sender 和 content 属性
						history.forEach(message => {
							const sender = message.sender;
							const content = message.content;
							// 在界面上显示历史消息
							console.log(`[${sender}]: ${content}`);
						});
					},
					async sendMessage() {
						let sendMessage = this.newMessage;
						if (!this.newMessage.trim()) {
							this.vuetify.dialog.alert('请输入消息内容');
							return;
						}
						// 保存发送的消息到本地存储
						this.saveMessageLocally({
							sender: 'human',
							content: this.newMessage
						});
						this.messages.push({
							sender: 'human',
							content: this.newMessage
						});
						// 显示“思考中...”消息
						this.messages.push({
							sender: 'robot',
							content: '思考中...'
						});
						this.newMessage = "";
						try {
							const messageResponse = await axios.post(`${this.url}/message/insert_message`, {
								user_id: this.userId,
								assistant_id: this.selectId,
								content: sendMessage
							});

							const aiResponse = await axios.post(`${this.url}/assistant/ai/choice`, {
								message: sendMessage,
								user_id: this.userId
							}, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded'
								}
							});

							const data = aiResponse.data.assistant;
							this.updateUI(data, sendMessage);
						} catch (error) {
							console.error('Error:', error);
						}
					},
					async updateUI(data, sendMessage) {
						try {
							let response;
							let content = '';

							switch (data) {
								case "选项A":
									this.messages[this.messages.length - 1].content = "初始化心理助手...";
									response = await axios.post(`${this.url}/assistant/ai/chat`, {
										message: sendMessage,
										assistant_id: this.selectId
									}, {
										headers: {
											'Content-Type': 'application/x-www-form-urlencoded'
										}
									});
									content = response.data.data;
									break;
								case "选项B":
									this.messages[this.messages.length - 1].content = "查询心理学知识库中...";
									response = await axios.post(`${this.url}/assistant/ai/knowledge`, {
										message: sendMessage,
										assistant_id: this.selectId
									}, {
										headers: {
											'Content-Type': 'application/x-www-form-urlencoded'
										}
									});
									content = response.data.data;
									break;
								case "选项C":
									this.messages[this.messages.length - 1].content = "检测到危险言论!";
									this.showToast = true;
									this.errorMessage = "检测到你有危险言论，已经发生消息到紧急联系人";
									response = await axios.post(`${this.url}/assistant/ai/chat`, {
										message: sendMessage,
										assistant_id: this.selectId
									}, {
										headers: {
											'Content-Type': 'application/x-www-form-urlencoded'
										}
									});
									content = response.data.data;
									break;
								default:
									this.messages[this.messages.length - 1].content = "生成中...";
									response = await axios.post(`${this.url}/assistant/ai/Samplychat`, {
										message: sendMessage,
									}, {
										headers: {
											'Content-Type': 'application/x-www-form-urlencoded'
										}
									});
									const contents = response.data.map(item => item.result.output.content);
									content = contents.join('');
							}

							// 保存 AI 返回的消息到本地存储
							this.saveMessageLocally({
								sender: 'robot',
								content: content
							});
							// 先清空
							this.messages[this.messages.length - 1].content = '';
							// 逐个字符赋值给 content 属性，并模拟打印效果
							let index = 0;
							const intervalId = setInterval(() => {
								if (index < content.length) {
									this.messages[this.messages.length - 1].content += content[
										index];
									index++;
								} else {
									clearInterval(intervalId); // 结束循环
								}
							}, 50); // 每100毫秒输出一个字符
						} catch (error) {
							console.error('Error:', error);
						}
					},
					// 保存消息到本地存储
					saveMessageLocally(message) {
						// 获取本地存储中的历史消息（如果有）
						let storedMessages = localStorage.getItem('chatMessages');
						storedMessages = storedMessages ? JSON.parse(storedMessages) : [];

						// 将新消息添加到历史消息列表
						storedMessages.push(message);

						// 将更新后的历史消息列表重新存储到本地存储中
						localStorage.setItem('chatMessages', JSON.stringify(storedMessages));
					},
					// 热键处理函数
					handleHotkey(event) {
						// Enter：发送消息
						if (event.keyCode === 13) {
							// 调用发送消息的方法
							this.sendMessage();
						}
						// ctrl+enter键：换行
						if (event.ctrlKey && event.keyCode === 13) {
							// 输入框换行
						}
					},
					// 用户操作
					toggleMenu() {
						this.menuOpen = !this.menuOpen;
					},
					// 查看个人信息
					viewProfile() {
						// Add logic to view profile
						this.profileDialog = true;
						this.menuOpen = false;
					},
					// 更改密码
					changePassword() {
						this.passwordDialog = true;
						this.menuOpen = false;
					},
					// 退出登录
					logout() {
						// 清空cookie缓存并重新加载页面
						document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
						document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
						document.cookie = "isAuthenticated=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
						location.reload();
						this.menuOpen = false;
					},
					// 提交密码修改请求
					submitPassword() {
						// 检查新密码和确认密码是否一致
						if (this.password !== this.confirmPassword) {
							this.error = '密码不一致';
							return;
						}
						// 发送密码修改请求，这里只是示例，需要替换为实际的请求逻辑
						// 可以在这里使用axios发送修改密码的请求
						// 修改密码成功后，关闭对话框，并清空密码输入框和错误提示
						this.changePasswordDialog = false;
						this.password = '';
						this.confirmPassword = '';
						this.error = '';
					}

				},
				beforeDestroy() {
					// 在组件销毁前移除热键监听器
					window.removeEventListener('keydown', this.handleHotkey);
				}

			})
		</script>

	</body>
</html>