<!DOCTYPE html>
<html>
	<head>
		<!-- 引入 Vue 和 Vuetify 的 JS -->
		<script src="../js/vue.js"></script>
		<script src="../js/vuetify.js"></script>
		<script src="../js/socket.io.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/vuex.global.min.js"></script>
		<!-- 引入 Vuetify 的 CSS -->
		<link href="../css/materialdesignicons.min.css" rel="stylesheet">
		<link href="../css/vuetify.min.css" rel="stylesheet">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>
		<div id="app">
			<v-dialog v-model="settingsDialog" max-width="500">
				<v-card>
					<v-card-title class="headline">设置</v-card-title>

					<v-card-text>
						<!-- 设置内容 -->
						<v-text-field label="用户名" v-model="username"></v-text-field>
						<v-text-field label="邮箱" v-model="email"></v-text-field>
					</v-card-text>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" @click="saveSettings">保存</v-btn>
						<v-btn @click="closeSettingsDialog">取消</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-snackbar v-model="showToast" :timeout="1000" color="orange" :top="true" style="text-align: center;">
				{{ errorMessage }}
			</v-snackbar>
			<v-dialog v-model="loginDialog" max-width="500" persistent>
				<v-card>
					<v-tabs v-model="tab">
						<v-tab>登录</v-tab>
						<v-tab>注册</v-tab>
					</v-tabs>

					<v-tabs-items v-model="tab">
						<v-tab-item>
							<v-card-text>
								<v-text-field label="用户名" v-model="username" outlined maxlength="20"
									placeholder="请输入用户名" clearable prepend-inner-icon="mdi-account"></v-text-field>
								<v-text-field label="密码" type="password" v-model="password" outlined maxlength="20"
									placeholder="请输入密码" clearable prepend-inner-icon="mdi-lock"></v-text-field>

							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click="login" block>登录</v-btn>
							</v-card-actions>
						</v-tab-item>

						<v-tab-item>
							<v-card-text>
								<!-- 添加注册表单的内容 -->
								<v-text-field label="用户名" v-model="newUsername" outlined outlined maxlength="20"
									placeholder="请输入用户名" prepend-inner-icon="mdi-account"></v-text-field>
								<v-text-field label="邮箱" v-model="newEmail" outlined outlined maxlength="50"
									placeholder="请输入邮箱" prepend-inner-icon="mdi-email"></v-text-field>
								<v-text-field label="密码" type="password" v-model="newPassword" outlined maxlength="20"
									placeholder="请输入密码" clearable prepend-inner-icon="mdi-lock"></v-text-field>
								<v-text-field label="确认密码" type="password" v-model="confirmPassword" outlined
									maxlength="20" placeholder="请输入密码" clearable
									prepend-inner-icon="mdi-lock"></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click="register" block>注册</v-btn>
							</v-card-actions>

						</v-tab-item>
					</v-tabs-items>
				</v-card>
			</v-dialog>




			<!--  -->
			<v-dialog v-model="assistantDialog" max-width="500">
				<v-card>
					<v-tabs v-model="tab">
						<v-tab>自定义</v-tab>
						<v-tab>自由创作</v-tab>

						<v-tab-item>
							<v-card-title>创建新助手</v-card-title>
							<v-card-text>
								<!-- 自定义选项卡内容 -->
								<v-text-field label="姓名" outlined prepend-inner-icon="mdi-account"
									v-model="assistant.name" maxlength="20"></v-text-field>
								<v-text-field label="描述" outlined prepend-inner-icon="mdi-information"
									v-model="assistant.description" maxlength="200"></v-text-field>
								<v-text-field label="功能" outlined prepend-inner-icon="mdi-cog"
									v-model="assistant.function" maxlength="200"></v-text-field>
								<v-text-field label="个人信息" outlined prepend-inner-icon="mdi-account-details"
									v-model="assistant.personalInfo" maxlength="200"></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click="saveAssistant">创建</v-btn>
								<v-btn @click="closeAssistantDialog">取消</v-btn>
							</v-card-actions>
						</v-tab-item>

						<v-tab-item>
							<!-- 自由创作选项卡内容 -->
							<v-card-title>自由创作</v-card-title>
							<v-card-text>
								<!-- 这里放置自由创作的内容 -->
							</v-card-text>
							<v-card-actions>
								<!-- 自由创作选项卡的按钮 -->
							</v-card-actions>
						</v-tab-item>
					</v-tabs>
				</v-card>
			</v-dialog>

			<!--  -->
			<v-app id="inspire">
				<v-system-bar app>
					<v-spacer></v-spacer>
					<v-btn icon @click="showSettingsDialog">
						<!-- 设置图标 -->
						<v-icon>mdi-cog</v-icon>
					</v-btn>

					<!-- 切换日夜模式按钮 -->
					<v-btn icon @click="toggleDarkMode">
						<v-icon>{{ darkMode ? 'mdi-white-balance-sunny' : 'mdi-brightness-2' }}</v-icon>
					</v-btn>

					<!-- 切换多语言模型按钮 -->
					<v-btn icon @click="toggleLanguage">
						<v-icon>mdi-translate</v-icon>
					</v-btn>
				</v-system-bar>

				<v-app-bar app clipped-right flat height="72">
					<v-toolbar-title>{{ chatTitle }}</v-toolbar-title>
					<v-spacer></v-spacer>

					<!-- 右侧图标按钮 -->
					<v-icon @click="toggleMood">mdi-emoticon-outline</v-icon>
				</v-app-bar>

				<v-navigation-drawer v-model="drawer" app width="300">
					<v-navigation-drawer v-model="drawer" absolute mini-variant>
						<v-avatar class="d-block text-center mx-auto mt-4" size="36">
							<v-img src="../img/a-lovely-human-being.png" alt="Image description"></v-img>
						</v-avatar>

						<v-divider class="mx-3 my-5"></v-divider>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9" @click="topage('')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-chat</v-icon>
								</template>
								<span>聊天</span>
							</v-tooltip>
						</v-btn>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/data.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-database</v-icon>
								</template>
								<span>数据</span>
							</v-tooltip>
						</v-btn>

						<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
							@click="topage('/mind/views/warning.html')">
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon v-on="on">mdi-alert</v-icon>
								</template>
								<span>警告</span>
							</v-tooltip>
						</v-btn>
					</v-navigation-drawer>




					<v-btn color="white" width="100%" elevation="0" class="mx-3 my-3" @click="openAssistantDialog">
						<v-icon left>mdi-robot</v-icon>
						创建新助手

						<v-icon right>mdi-plus</v-icon>

					</v-btn>
					<v-divider class="mx-3 my-3"></v-divider>
					<v-list class="pl-14" shaped>
						<v-list-item v-for="item in assistants" :key="item.id" link
							:active-class="selectedItem === item ? 'selected-item' : ''" @click="selectItem(item)">
							<v-list-item-content>
								<v-list-item-title>{{ item.name }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list>
				</v-navigation-drawer>

				<!-- 				<v-navigation-drawer app clipped right>
					<v-list>
						<v-list-item v-for="n in 5" :key="n" link>
							<v-list-item-content>
								<v-list-item-title>Item {{ n }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list>
				</v-navigation-drawer> -->

				<v-main>
					<!--  -->

					<!-- 消息列表 -->
					<v-container id="message-list" style="padding-bottom: 60px;overflow-y: auto;">

						<v-row v-for="(message, index) in messages" :key="index">
							<v-col cols="auto">
								<v-avatar size="40">
									<img :src="message.sender === 'robot' ? '../img/a-lovely-robot.png' : '../img/a-lovely-human-being.png'"
										alt="Avatar">
								</v-avatar>
							</v-col>
							<v-col>
								<div>
									<span style="font-weight: bold;">{{ message.sender === 'robot' ? '小海' :
					                                                    '你' }}</span>
									<!-- 如果消息为 "生产中..."，显示加载中的进度圆 -->
									<v-progress-circular v-if="message.content === '思考中...'" indeterminate
										color="primary" size="16"></v-progress-circular>
								</div>
								<div>
									<span>{{ message.content }}</span>
								</div>
							</v-col>
						</v-row>
					</v-container>

				</v-main>

				<v-footer app color="white" height="72" inset>
					<v-text-field v-model='newMessage' background-color="grey lighten-3" dense flat hide-details rounded
						solo placeholder="分享今天的心情吧">
						<template v-slot:append>
							<v-btn icon @click="sendMessage">
								<v-icon>mdi-arrow-up</v-icon>
							</v-btn>
						</template>
					</v-text-field>
				</v-footer>
			</v-app>
		</div>
		<style>
			/* 添加鼠标手型 */
			.avatar:hover {
				cursor: pointer;
			}

			/* 添加鼠标移入效果 */
			.avatar:hover {
				background-color: #868686;
				/* 淡灰色背景 */
			}

		</style>

		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify({
					icons: {
						iconfont: 'mdi', // 默认图标集
					},
					theme: {
						dark: false
					}
				}),
				data() {
					return {
						// 你的数据属性
						chatTitle: "",
						selectedItem: null,
						settingsDialog: false,
						showToast: false,
						errorMessage: '账号密码错误',
						drawer: true,
						url: 'http://127.0.0.1:8080/api',
						userId: 0,
						selectAssistantId: 0,
						darkMode: false,
						language: true, // 添加 language 属性
						assistantDialog: false,
						newMessage: "",
						assistants: [],
						assistant: {
							name: '',
							description: '',
							function: '',
							personalInfo: ''
						},
						messages: [{
							sender: 'robot',
							content: '欢迎来到心聆守护， 让我们一起来进行心理探讨和交流吧。 我可以为您查找心理知识、深入分析心理问题和为你提供安全保护。🤗🤗🤗 '
						}],
						loginDialog: false,
						username: "",
						password: "",
						email: "",
						tab: 0,
						newUsername: "",
						newPassword: "",
						confirmPassword: "",
						newEmail: "",
						selectId: 0,
						mood: 'mdi-emoticon-happy-outline', // 默认情感图标

					};
				},
				mounted() {

					//设置 Content-Type 
					axios.defaults.headers.common['Content-Type'] = 'application/json;charset=UTF-8';
					//设置 携带cookies，如果有安全框架或者SSO对cookie校验，设置携带cookies 
					axios.defaults.withCredentials = true;
					// 在页面加载时检查用户登录状态
					this.checkAuthentication();
					// 注册热键
					window.addEventListener('keydown', this.handleHotkey);

				},
				methods: {
					getCookie(name) {
						// 创建一个空对象
						const cookieMap = {};
						// 获取当前页面的cookie，并以分号空格分割
						const cookies = document.cookie.split("; ");
						// 遍历cookie，并以等号分割，存入cookieMap中
						cookies.forEach(cookie => {
							const [key, value] = cookie.split("=");
							cookieMap[key] = value;
						});
						// 返回cookieMap中name对应的值
						return cookieMap[name];
					},
					setCookie(name, value, days) {
						// 初始化expires
						let expires = "";
						// 如果传入了days参数
						if (days) {
							// 创建一个Date对象
							const date = new Date();
							// 设置date对象的值，加上days参数的值，转换为毫秒数
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							// 设置expires的值为分号空格，加上date对象转换为UTC时间格式
							expires = "; expires=" + date.toUTCString();
						}
						// 设置cookie，参数为name，value，expires
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					},
					// 检查用户登录状态
					checkAuthentication() {
						if (!this.getCookie("isAuthenticated")) {
							this.openLoginDialog();
						} else {
							this.userId = this.getCookie("user_id")
							this.username = this.getCookie("username")
							axios.get(this.url + '/assistant/listAll?user_id=' + this.userId)
								.then(response => {
									data = response.data
									if (data.code == 200) {
										console.log(response)
										this.assistants = data.data
										this.selectedItem = data.data[0]
										this.selectId = data.data[0].id
										this.chatTitle = data.data[0].name

									}


								})

							// axios.get(this.url+"/message/get_message").then(response=>{
							// })
						}
					},
					showSettingsDialog() {
						this.settingsDialog = true;
					},
					closeSettingsDialog() {
						this.settingsDialog = false;
					},
					saveSettings() {
						// 保存设置的逻辑
						console.log('保存设置');
						this.closeSettingsDialog(); // 保存后关闭设置窗体
					},
					// 打开登录窗口
					openLoginDialog() {
						this.loginDialog = true;
					},
					// 关闭登录窗口
					closeLoginDialog() {
						this.loginDialog = false;
					},
					login() {
						// 这里添加登录逻辑
						if (this.username && this.password) {
							// 调用登录接口或者其他登录逻辑
							axios.post(this.url + "/user/login", {
								username: this.username,
								password: this.password

							}).then(response => {
								data = response.data
								// 登录成功后关闭对话框
								if (data.code == 200) {
									data = data.data
									this.setCookie("isAuthenticated", true, 1);
									this.setCookie("user_id", data.id, 1);
									this.userId = data.id
									this.setCookie("username", data.username, 1)
									this.username = data.username;
									this.loginDialog = false;
									this.checkAuthentication();
									// 清空登录表单字段
									this.password = '';
									// 
								} else {
									console.log(response)
								}

							}).catch(error => {
								this.errorMessage = error.message;
								this.showToast = true;
							});
						} else {
							// 提示用户输入用户名和密码
							alert('请输入用户名和密码');
						}
					},
					register() {
						// 这里添加注册逻辑
						if (this.newUsername && this.newPassword && this.confirmPassword) {
							// 检查密码是否匹配
							if (this.newPassword !== this.confirmPassword) {
								alert('确认密码不匹配');
								return;
							}
							// 调用注册接口或者其他注册逻辑
							// 调用登录接口或者其他登录逻辑
							axios.post(this.url + "/user/register", {
								username: this.newUsername,
								password: this.newPassword,
								email: this.newEmail,

							}).then(response => {
								data = response.data
								// 登录成功后关闭对话框
								if (data.code == 200) {

									// 注册成功后切换到tab
									this.tab = 0;
									// 清空注册表单字段
									this.newUsername = '';
									this.newPassword = '';
									this.confirmPassword = '';
									this.newEmail = '';
									// 清空登录表单字段
									this.username = '';
									this.password = '';
								} else {
									console.log(response)
								}

							}).catch(error => {
								this.errorMessage = error.message;
								this.showToast = true;
							});

						}
					},
					selectItem(item) {
						this.selectedItem = item;
						console.log(item)
						this.chatTitle = item.name
						this.selectId = item.id
						// 执行选中后的逻辑
					},
					toggleLoginDialog() {
						this.loginDialog = !this.loginDialog;
					},
					toggleMood() {
						// 根据当前心情状态切换图标
						if (this.mood === 'mdi-emoticon-happy-outline') {
							this.mood = 'mdi-emoticon-neutral-outline'; // 切换到一般心情图标
						} else if (this.mood === 'mdi-emoticon-neutral-outline') {
							this.mood = 'mdi-emoticon-sad-outline'; // 切换到坏心情图标
						} else {
							this.mood = 'mdi-emoticon-happy-outline'; // 切换到好心情图标
						}
					},
					topage(route) {
						window.open(route, "_self")

					},
					toggleDarkMode() {
						this.darkMode = !this.darkMode;
						// 在这里可以添加切换日夜模式的逻辑
						this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
					},
					toggleLanguage() {
						this.chinese = !this.chinese;
						// 在这里可以添加切换语言的逻辑
					},
					openAssistantDialog() {
						this.assistantDialog = true;
					},
					closeAssistantDialog() {
						this.assistantDialog = false;
					},
					saveAssistant() {
						// 检查输入内容的合理
						if (!this.assistant.name || !this.assistant.description || !this.assistant.function || !this
							.assistant.personalInfo) {
							this.errorMessage = '请输入内容';
							this.showToast = true;
							return;

						} else {

							this.loading = true;
							// 在这里编写保存助手的逻辑
							// 可以发送请求将输入框中的数据保存到数据库等
							axios.post(this.url + '/assistant/create', {
									user_id: this.userId,
									name: this.assistant.name,
									description: this.assistant.description,
									function: this.assistant.function,
									user_detail: this.assistant.personalInfo
								})
								.then(response => {
									data = response.data
									if (data.code == 200) {
										this.loading = false;
										this.closeAssistantDialog();
										this.getNewAssistant(this.userId);
									}

								})
						}

						// 保存成功后关闭对话框
					},
					getNewAssistant(user_id) {
						axios.get(this.url + '/assistant/allList?user_id=' + user_id).then(response => {

							data = response.data
							if (data.code = 200) {
								this.assistants = data.data

							}
						})

					},
					sendMessage() {
						// 在发送消息后立即将新消息添加到消息列表中
						this.messages.push({
							sender: 'human',
							content: this.newMessage
						});

						// 在发送消息后显示“思考中”消息
						this.messages.push({
							sender: 'robot',
							content: '思考中...'
						});
						axios.post(this.url+'/message/insert_message',{
							user_id:this.userId,
							assistant_id:this.selectId,
							content:this.newMessage
						})

						// 发送消息给后端并立即更新用户界面
						axios.post(this.url + '/assistant/ai/choice', {
							message: this.newMessage
						}, {
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							}
						}).then(response => {
							console.log(response.data.assistant);
							const data = response.data.assistant;
							// 根据响应更新用户界面
							this.updateUI(data);
						}).catch(error => {
							console.error('Error:', error);
						});

						// 清空新消息输入框
						this.newMessage = "";
					},

					updateUI(data) {
						// 根据响应更新消息列表中的内容
						switch (data) {
							case "选项A":
								this.messages[this.messages.length - 1].content = "初始化心理助手...";
								axios.post(this.url + '/assistant/ai/chat', {
									message: this.newMessage,
									assistant_id: this.selectId
								}, {
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded'
									}
								}).then(response => {
									console.log(response);
									// 更新消息列表中的内容
									this.messages[this.messages.length - 1].content = response;
								});
								break;
							case "选项B":
								this.messages[this.messages.length - 1].content = "查询心理学知识库中...";
								axios.post(this.url + '/assistant/ai/chat', {
									message: this.newMessage,
									assistant_id: this.selectId
								}, {
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded'
									}
								}).then(response => {
									console.log(response);
									// 更新消息列表中的内容
									this.messages[this.messages.length - 1].content = response;
								});
								break;
							case "选项C":
								this.messages[this.messages.length - 1].content = "检测到危险言论!";
								this.showToast = true;
								this.errorMessage = "检测到你有危险言论，已经发生消息到紧急联系人";
								break;
							default:
								this.messages[this.messages.length - 1].content = "生成中...";
								axios.post(this.url + "/assistant/ai/Samplychat", {
									message: this.newMessage,
								}, {
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded'
									}
								}).then(response => {
									// 更新消息列表中的内容
									this.messages[this.messages.length - 1].content = response;
								});
						}
					},

					// 热键处理函数
					handleHotkey(event) {
						// Enter：发送消息
						if (event.keyCode === 13) {
							// 调用发送消息的方法
							this.sendMessage();
						}
						// ctrl+enter键：换行
						if (event.ctrlKey && event.keyCode === 13) {
							// 输入框换行


						}
					},
					getStreamData(url) {
						fetch(url)
							.then(response => {
								const reader = response.body.getReader();
								const stream = new ReadableStream({
									start(controller) {
										function push() {
											reader.read().then(({
												done,
												value
											}) => {
												if (done) {
													controller.close();
													return;
												}
												controller.enqueue(value);
												push();
											});
										}
										push();
									}
								});
								return new Response(stream);
							})
							.then(response => {
								const reader = response.body.getReader();
								const decoder = new TextDecoder();

								function read() {
									reader.read().then(({
										done,
										value
									}) => {
										if (done) return;
										console.log(decoder.decode(value, {
											stream: true
										}));
										read();
									});
								}
								read();
							})
							.catch(error => {
								console.error('Error fetching data:', error);
							});

					}
				},
				beforeDestroy() {
					// 在组件销毁前移除热键监听器
					window.removeEventListener('keydown', this.handleHotkey);
				}

			})
		</script>

	</body>
</html>