<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 引入 Vue 和 Vuetify 的 JS -->
		<title>数据</title>
		<script src="../js/vue.js"></script>
		<script src="../js/vuetify.js"></script>
		<script src="../js/socket.io.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/vue-router.global.js"></script>
		<script src="../js/vuex.global.min.js"></script>
		<script src="../js/echarts.min.js"></script>

		<!-- 引入 Vuetify 的 CSS -->
		<link href="../css/materialdesignicons.min.css" rel="stylesheet">
		<link href="../css/vuetify.min.css" rel="stylesheet">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>

		<div id="app">
			<!-- App.vue 根组件 -->
			<v-app>
				<v-system-bar app>
					<v-spacer></v-spacer>
					<v-btn icon>
						<!-- 设置图标 -->
						<v-icon>mdi-cog</v-icon>
					</v-btn>

					<!-- 切换日夜模式按钮 -->
					<v-btn icon @click="toggleDarkMode">
						<v-icon>{{ darkMode ? 'mdi-white-balance-sunny' : 'mdi-brightness-2' }}</v-icon>
					</v-btn>

					<!-- 切换多语言模型按钮 -->
					<v-btn icon @click="toggleLanguage">
						<v-icon>mdi-translate</v-icon>
					</v-btn>
				</v-system-bar>


				<v-navigation-drawer v-model="drawer" app absolute mini-variant>
					<v-avatar class="d-block text-center mx-auto mt-4" size="36">
						<v-img src="../img/a-lovely-human-being.png" alt="Image description"></v-img>
					</v-avatar>

					<v-divider class="mx-3 my-5"></v-divider>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/chat.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-chat</v-icon>
							</template>
							<span>聊天</span>
						</v-tooltip>
					</v-btn>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9" @click="topage('')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-database</v-icon>
							</template>
							<span>数据</span>
						</v-tooltip>
					</v-btn>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/warning.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-alert</v-icon>
							</template>
							<span>警告</span>
						</v-tooltip>
					</v-btn>
					<!-- 添加 VR 图标按钮 -->
					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/vr.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-eye</v-icon>
							</template>
							<span>VR</span>
						</v-tooltip>
					</v-btn>

					<!-- 添加知识库图标按钮 -->
					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/knowledge.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-book-open-page-variant</v-icon>
							</template>
							<span>知识库</span>
						</v-tooltip>
					</v-btn>
				</v-navigation-drawer>

				<v-main>
					<v-container fluid>
						<v-row>
							<!-- 情绪变化趋势 -->
							<v-col cols="4">
								<div>
									<h3 class="text-center">情绪变化趋势</h3>
									<v-divider class="my-4"></v-divider>
									<!-- 在这里插入折线图的代码 -->
									<div id="emotionTrendChart" style="height: 300px;"></div>
									<!-- 添加评语 -->
									<p class="text-center"><strong>AI分析: </strong>情绪变化趋势良好，保持稳定。</p>
								</div>
							</v-col>

							<!-- 认知偏向分析 -->
							<v-col cols="4">
								<div>
									<h3 class="text-center">认知偏向分析</h3>
									<v-divider class="my-4"></v-divider>
									<!-- 在这里插入雷达图的代码 -->
									<div id="cognitiveBiasChart" style="height: 300px;"></div>
									<!-- 添加评语 -->
									<p class="text-center"><strong>AI分析: </strong>认知偏向较低，认知水平良好。</p>
								</div>
							</v-col>

							<!-- 应对策略评估 -->
							<v-col cols="4">
								<div>
									<h3 class="text-center">应对策略评估</h3>
									<v-divider class="my-4"></v-divider>
									<!-- 在这里插入统计对策分析图的代码 -->
									<div id="strategyAnalysisChart" style="height: 300px;"></div>
									<!-- 添加评语 -->
									<p class="text-center"><strong>AI分析: </strong>应对策略评估良好，建议继续保持。</p>
								</div>
							</v-col>
						</v-row>
					</v-container>
					<v-row style="max-height: 300px; overflow-y: auto;">
						<v-col cols="12">
							<h3 class="text-center">历史消息</h3>
							<p class="text-center">根据上下文历史消息进行综合评估</p>
							<ul>
								<!-- 历史消息的列表项 -->
								<li v-for="(message, index) in displayedMessages" :key="message.content">
									{{ message.content }} - {{ message.create_at }}
								</li>
								<!-- 添加更多历史消息 -->
								<li v-if="showEllipsis" class="ellipsis">...</li>
							</ul>
						</v-col>
					</v-row>






				</v-main>
			</v-app>
		</div>
		<style>
			canvas {
				border: 1px solid #ccc;
			}
		</style>

		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify({
					icons: {
						iconfont: 'mdi', // 默认图标集
					},
				}),
				data() {
					return {
						// 你的数据属性
						user_id: 0,
						drawer: true,
						darkMode: false,
						language: true, // 添加 language 属性
						tab: 0,
						emotionalStateTab: 0,
						url: "http://8.134.48.111:8000/api",
						historyMessages: [],
						maxDisplayedMessages: 5, // 最大显示的消息数量
						emotions_analyze_data: [],
						bias_scores_data: [],
						strategy_scores_data: []


					}

				},
				computed: {
					displayedMessages() {
						return this.historyMessages.slice(0, this.maxDisplayedMessages);
					},
					showEllipsis() {
						return this.historyMessages.length > this.maxDisplayedMessages;
					}
				},
				methods: {
					mianTabChange() {

						// 在选项卡切换后重新渲染图表
						this.$nextTick(() => {
							this.createChart(); // 调用创建图表的方法
						});

					},
					getData() {
						axios.post(this.url + '/message/me_detail', {
							user_id: this.user_id
						}, {
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							}
						}).then(response => {
							data = response.data
							this.historyMessages = data.data
						})

					},
					get_echart_data() {
						axios.post(this.url + '/data/bias_scores', {
							user_id: this.user_id
						}, {
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							}
						}).then(response => {
							data = response.data
							let jsonObj = JSON.parse(data.data);
							// 提取对象中的所有值（数字）并放入数组
							let numbersArray = Object.values(jsonObj);
							this.bias_scores_data = numbersArray
							console.log(numbersArray)
							// 初始化认知偏向分析雷达图
							var cognitiveBiasChart = echarts.init(document.getElementById('cognitiveBiasChart'));
							var cognitiveBiasOption = {
								title: {
									text: '认知偏向分析'
								},
								tooltip: {},
								radar: {
									indicator: [{
											name: '乐观',
											max: 100
										},
										{
											name: '积极',
											max: 100
										},
										{
											name: '自信',
											max: 100
										},
										{
											name: '消极',
											max: 100
										},
										{
											name: '焦虑',
											max: 100
										},
										{
											name: '抑郁',
											max: 100
										}
									]
								},
								series: [{
									type: 'radar',
									data: [{
										value: numbersArray,
										name: '偏向分析'
									}]
								}]
							};
							cognitiveBiasChart.setOption(cognitiveBiasOption);

						})
						axios.post(this.url + '/data/strategy_scores', {
							user_id: this.user_id
						}, {
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							}
						}).then(response => {
							data = response.data
							
							// 使用JSON.parse将字符串解析为对象
							let jsonObj = JSON.parse(data.data);
							
							// 提取对象中的所有值（数字）并放入数组
							let numbersArray = Object.values(jsonObj);
							this.strategy_scores_data = numbersArray
							console.log(numbersArray)
							// 初始化应对策略评估统计对策分析图
							var strategyAnalysisChart = echarts.init(document.getElementById('strategyAnalysisChart'));
							var strategyAnalysisOption = {
								title: {
									text: '应对策略评估'
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									data: ['认知能力', '情绪调节', '社交技能', '学习能力', '适应能力']
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									data: numbersArray,
									type: 'bar'
								}]
							};
							strategyAnalysisChart.setOption(strategyAnalysisOption);

						})
						axios.post(this.url + '/data/emotions_analyze', {
							user_id: this.user_id
						}, {
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							}
						}).then(response => {
							data = response.data
							this.emotions_analyze_data = data.data
							// 将字符串分割成由逗号分隔的部分
							let str_parts = data.data.split(',');
							
							// 将每部分转换为数字，并过滤掉空字符串
							let num_array = str_parts.map(part => {
							    if (part) {
							        return parseFloat(part);
							    }
							}).filter(num => !isNaN(num));

							console.log(this.emotions_analyze_data)
							// 此时num_array就是您想要的数字数组
							console.log(num_array);
							// 初始化情绪变化趋势折线图
							var emotionTrendChart = echarts.init(document.getElementById('emotionTrendChart'));
							var emotionTrendOption = {
								title: {
									text: '情绪变化趋势'
								},
								tooltip: {
									trigger: 'axis'
								},
								xAxis: {
									type: 'category',
									data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] // 将英文星期名称改为中文
								},
								yAxis: {
									type: 'value'
								},
								series: [{
									data:num_array,
									type: 'line'
								}]
							};
							emotionTrendChart.setOption(emotionTrendOption);

						})
					},
					topage(route) {
						window.open(route, "_self")

					},
					getCookie(name) {
						const cookieMap = {};
						const cookies = document.cookie.split("; ");
						cookies.forEach(cookie => {
							const [key, value] = cookie.split("=");
							cookieMap[key] = value;
						});
						return cookieMap[name];
					},
					setCookie(name, value, days) {
						let expires = "";
						if (days) {
							const date = new Date();
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							expires = "; expires=" + date.toUTCString();
						}
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					},
					toggleDarkMode() {
						this.darkMode = !this.darkMode;
						// 在这里可以添加切换日夜模式的逻辑
						this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
					},

					toggleLanguage() {
						// 这里可以添加切换语言的逻辑
					},
					createDailyChart() {

					},


				},
				beforeDestroy() {

				},
				mounted() {
					this.user_id = this.getCookie("user_id");
					this.getData()
					this.get_echart_data()






					

				}

			})
		</script>

	</body>
</html>