<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./standards.css">
    <title>心理咨询师行业规范</title>
</head>
<body>
    <div class="standard">
        <h1 class="title">心理咨询师行业规范</h1>
        <div class="main">

            <div class="ethical">
                <h2>一、伦理规范</h2>
                    <div class="retract">
                        <p>
                            1、心理咨询师在从事心理咨询与治疗时，应遵纪守法、遵守心理咨询师职业道德准则，在其工作中建立并执行严格的道德标准；
                        </p>
                        <p>
                            2、心理咨询师应注意加强自身的修养，不断完善自己，提高自己的心理健康水平；
                        </p>
                        <p>
                            3、心理咨询师应不断学习本专业以及咨询服务所需的有关知识，促进自身的专业发展，提高专业服务水平；
                        </p>
                        <p>
                            4、心理咨询师应明确了解自己的能力界限和专业职能的界限，不做超越自己能力和职能范围的事情。
                        </p>
                    </div>
            </div>
            <div class="work">
                <h2>二、职业规范</h2>
                <div class="retract">
                    <p>
                        1、热爱本职工作，坚定为社会服务的信念，钻研专业知识，增强技能，与求助者建立平等友好的关系。
                    </p>
                    <p>
                        2、有豁达的胸怀，尊重不同性别、年龄、职业、民族、国籍、宗教信仰、价值观的求助者。
                    </p>
                    <p>
                        3、在咨询关系建立之前，应当首先与求助者建立良好的人际关系，与求助者之间不得产生和建立咨询以外的任何关系，尽量避免双重关系。不得利用求助者对咨询师的信任谋取私利，更不得对异性有非礼的言行。
                    </p>
                    <p>
                        4、心理咨询师应当始终严格恪守保密原则，有关求助者的个案记录、测验资料、信件、录音、录像及其他有关求助者的信息，均应当在符合法律规范的要求下严格保密。
                    </p>
                    <p>
                        5、心理咨询师在接受司法部门、公安部门、卫生部门询问时不得作虚伪的陈述和报告。
                    </p>
                </div>
            </div class=>

            </div>
            <div class="duty">
                <h2>三、对来访者的责任</h2>
                <div class="retract">
                    <p>
                        心理咨询师的工作目的是使来访者从其提供的专业服务中获益。心理咨询师应保障来访者的权利，努力使其得到适当的服务并避免伤害。
                    </p>
                    <p>
                        1、心理咨询师不得因来为访者的性别、民族、国籍、宗教信仰、价值观、性取向等任何方面的因素歧视来访者；
                    </p>
                    <p>
                        2、心理咨询师在咨询关系建立之前，应使来访者明确了解心理咨询工作的性质、工作特点、收费标准、这一工作可能的局限以及来访者的权利和义务：
                    </p>
                    <p>
                        3、心理咨询师在进行心理咨询工作时，应与来访者对咨询目标、方式等问题进行讨论并达成一致意见，必要时（如使用冲击疗法、催眠疗法、长期精神分析等技术）应与来访者达成书面协议；
                    </p>
                    <p>
                        4、心理咨询师应明确其工作的目的是促进来访者的成长、自强自立，而并非使来访者在其未来的生活中对心理咨询师产生依赖。
                    </p>
                </div>
            </div>
            <div class="relation">
                <h2>四、与来访者的关系</h2>
                <div class="retract">
                    <p>
                        心理咨询师应尊重来访者，按照本专业的道德规范与来访者建立良好的治疗关系。
                    </p>
                    <p>
                        1、心理咨询师应清楚地认识自己在咨访关系中的职业角色对来访者构成的潜在影响，不得利用来访者对自己的信任或依赖谋取私利；
                    </p>
                    <p>
                        2、不允许心理咨询师以收受实物、获得劳务服务或其他方式作为其专业服务的回报，因为它们有引起冲突、剥削、破坏专业关系的潜在危险；
                    </p>
                    <p>
                        3、心理咨询师要清楚的了解双重（或多重）关系（例如与来访者发展家庭的、社交的、经济的、商业的或者亲密的个人关系）对专业判断力的不利影响及其伤害寻求专业服务的潜在危险性，避免与来访者发生双重（或多重）关系。在双重（或多重）关系不可避免时，应采取一些专业上的预防措施，例如签署正式的知情同意书、寻求专业督导、做好相关文件的记录等，以确保双重关系（或多重关系）不会损害自己的判断并不会对来访者造成危害；
                    </p>
                    <p>
                        4、心理咨询师不得与当前来访者发生任何形式的性和亲密关系，也不得给有过性和亲密关系的人做心理咨询。一旦业已建立的专业关系超越了专业界限（如发展了性关系或恋爱关系），应立即终止专业关系并采取适当措施（例如寻求督导、转介等）；
                    </p>
                    <p>
                        5、心理咨询师在与某个来访者结束心理咨询关系之后，至少三年内不得与来访者发生任何亲密或性关系。在三年后如果发生此类关系，要仔细考察关系的性质，确保此关系不存在任何给来访者造成伤害的可能，同时要有合法的书面记录备案；
                    </p>
                    <p>
                        6、当心理咨询师认为自己不适合对某个来访者进行工作时，应对来访者明确说明，并且应本着对来访者负责的态度将其介绍给另一位合适的专业人员；
                    </p>
                    <p>
                        7、心理咨询师应尊重其他专业人员，与相关专业人员建立一种积极合作的工作关系，以提高对来访者的咨询服务水平。
                    </p>
                </div>
            </div>
            <div class="secret">
                <h2>五、保密原则</h2>
                <div class="retract">
                    <p>
                        心理咨询师应尊重来访者的个人隐私权，无论是在个体治疗或是在集体治疗中都有责任采取适当的措施为来访者保守秘密。
                    </p>
                    <p>
                        1、心理咨询师有责任向来访者说明心理咨询工作的保密原则以及这一原则在应用时的限制。在团体咨询时应首先在团体中确立保密原则；
                    </p>
                    <p>
                        2、心理咨询师应清楚地了解保密原则的应用有其限制。下列情况为保密原则的例外：
                            <span>（1）心理咨询师发现来访者有伤害自身或伤害他人的严重危险时；</span><br>
                            <span>（2）来访者有致命的传染性疾病且可能危及他人时；</span><br>
                            <span>（3）未成年人在受到性侵犯或虐待时；</span><br>
                            <span>（4）法律规定需要披露时。</span><br>
                    </p>
                    <p>
                        3、在遇到上述中的
                        （1）、（2）和（3）的情况时，心理咨询师有向对方合法监护人预警的责任；在遇到（4）的情况时，心理咨询师有遵循法律规定的义务，但须要求法庭及相关人员出示合法的书面要求，并要求法庭及相关人员确保此披露不会对临床专业关系带来直接损害或潜在危害；
                    </p>
                    <p>
                        4、心理咨询师咨询工作的有关信息（包括个案记录其他资料）均属于专业信息，应在严格保密的情况下进行保存，仅经过授权的心理咨询师可以接触这类资料；
                    </p>
                    <p>
                        5、在心理咨询工作中，一旦发现来访者有危害自身和他人的情况，必须启动危机干预方案，防止意外事件发生。如与其他心理咨询师进行磋商，应将有关保密信息的暴露程度限制在最低范围之内。
                    </p>
                </div>
                
            </div>
            <div class="agree">
                <h2>六、知情同意原则</h2>
                <div class="retract">
                    <p>
                        知情同意由三个基本要素组成，即告知、自愿以及能力。告知是指在来访者做出知情同意之前，心理咨询师有义务和责任告知来访者以下情况：咨询的特点、性质、费用、保密范围等，如果来访者在没有被充分告知的情况下做出知情同意，法律上被视为无效同意；自愿是指来访者做出知情同意的过程中，不受外界的利诱或胁迫，其决定是自愿自主的；能力是指来访者作为知情同意的法律主体，应当具有法律所要求的行为能力。
                    </p>
                    <p>1、心理咨询师需要在建立咨询关系的初期，向来访者告知咨询的特点、性质、费用、保密的范围等，并为来访者提供充分的机会询问并且对其问题给予回复；</p>
                    <p>2、应与来访者对咨询目标进行讨论并达成一致意见，在使用尚未广泛认可的治疗技术时，心理咨询师需要告知对方有关该咨询技术的发展状况、可能的潜在风险等；</p>
                    <p>3、任何时候来访者都有权终止咨询或更换咨询师；</p>
                    <p>4、如果来访者的确没有法律责任能力做决定，但又必须进行心理咨询时，可以请监护人采用“替代同意”的形式。</p>
                </div>
            </div>
            <div class="break">
                <h2>七、关于咨询的中断</h2>
                <div class="retract">
                    <p>
                        咨询的中断是指在咨询期间因咨询师个人原因暂时停止咨询。
                    </p>
                    <p>
                        1、心理咨询师在进行心理咨询工作中不得随意中断工作。在心理咨询师出差、休假或临时离开工作地点外出时，要对已经开始的心理咨询工作进行适当的安排；
                    </p>
                    <p>
                        2、除非来访者或者第三方付酬人员提出不需要的情况，心理咨询师在中断咨询之前，需要以合适的方式向来访者提供有关其他选择性咨询方式的建议。
                    </p>
                </div>
            </div>
            <div class="end">
                <h2>八、关于咨询的终止</h2>
                <div class="retract">
                    <p>咨询的中止是指经过商定，心理咨询师停止向来访者提供咨询服务，和来访者结束咨询关系。</p>
                    <p>1、在有迹象表明来访者不再继续需要咨询服务或者后续服务对其没有益处时，心理咨询师可以结束咨询；</p>
                    <p>2、如果心理咨询师受到来访者或者其他相关人员的威胁，或者继续治疗可能会危及到心理咨询师的安全时，那么心理咨询师可以终止咨询。</p>
                </div>
            </div>
            <div class="workduty">
                <h2>九、职业责任</h2>
                <div class="retract">
                    <p>
                        心理咨询师应遵守国家的法律法规，遵守专业伦理规范；心理咨询师所从事的专业工作应基于科学的研究和发现，在专业界限和个人能力范围之内，以负责任的态度进行工作；心理咨询师应不断更新并发展专业知识、积极参与自我保健的活动，促进个人在生理上、社会适应上和心理上的健康以更好地满足专业责任的需要。
                    </p>
                    <p>
                        1、心理咨询师应在自己专业能力范围内，根据自己所接受的教育、培训和督导的经历和工作经验，为不同人群提供适宜而有效的专业服务；
                    </p>
                    <p>
                        2、心理咨询师应充分认识到继续教育的意义，在专业工作领域内保持对当前学科和专业信息的了解，保持对所用技能的掌握和对新知识的开放态度；
                    </p>
                    <p>
                        3、心理咨询师应保持对于自身职业能力的关注，在必要时采取适当步骤寻求专业督导的帮助。在缺乏专业督导时，应尽量寻求同行的专业帮助；
                    </p>
                    <p>
                        4、心理咨询师应关注自我保健，当意识到个人的生理或心理问题可能会对来访者造成伤害时，应寻求督导或其他专业人员的帮助，必要时应限制、中断或终止临床专业服务；
                    </p>
                    <p>
                        5、心理咨询师在工作中需要介绍自己情况时，应实事求是地说明自己的专业资历、学位、专业资格证书等情况，在需要进行广告宣传或描述其服务内容时，应以确切的方式表述其专业资格。心理咨询师不得贬低其他专业人员，不得以虚假、误导、欺瞒的方式对自己或自己的工作部门进行宣传，更不能进行诈骗；
                    </p>
                    <p>
                        6、当心理咨询师通过公众媒体（如讲座、演示，电台、电视、报纸、印刷物品、网络等）从事专业活动，或以专业身份提供劝导和评论时，应注意自己的言论要基于恰当的专业文献和实践，尊重事实，注意自己的言行应遵循专业伦理规范。
                    </p>
                    <p>
                        7、当心理咨询师需要向第三方（例如法庭、保险公司等）报告自己的专业工作时，应采取诚实、客观的态度准确地描述自己的工作；
                    </p>
                    <p>
                        8、心理咨询师不得利用专业地位获取私利，如个人或所属家庭成员的利益、性利益、不平等交易财物和服务等。也不得利用心理咨询、教学、培训、督导的关系为自己获取合理报酬之外的私利。
                    </p>
                </div>
            </div>
            <div class="enthical-problem">
                <h2>十、关于伦理问题</h2>
                <div class="retract">
                    <p>
                        心理咨询师在专业工作中应遵守有关法律和伦理，努力解决伦理困境，和相关人员进行直接而开放的沟通，在必要时向同行及督导寻求建议或帮助；心理咨询师应将伦理规范整合到日常专业工作之中
                    </p>
                    <p>
                        1、心理咨询师一旦觉察到自己在工作中有失职行为或对职责存在着误解，应采取合理的措施加以改正（如转介、寻求督导等）；
                    </p>
                    <p>
                        2、心理咨询师若发现同行或同事违反了伦理规范，应予以规劝。若规劝无效，应通过适当渠道反映其问题。如果对方违反伦理的行为非常明显，而且已经造成严重危害，或违反伦理的行为无合适的途径解决或根本无法解决，心理咨询师应当向本中心举报，以维护行业声誉，保护来访者的权益。如果心理咨询师不能确定某种特定情形或特定的行为是否违反伦理规范，可向中心老师寻求建议。
                    </p>
                </div>
            </div>
           
        </div>
        <div class="Reproduction">
            <div>
                本文转载自 <a href="https://mp.weixin.qq.com/s/QEwoNm4LZniSMo060xwglw" target="_blank">https://mp.weixin.qq.com/s/QEwoNm4LZniSMo060xwglw</a>微信公众号平台，原作者为铃兰薄荷
            </div>
            <div>
                著作权归作者所有。商业转载请联系作者进行授权，非商业转载请注明出处
            </div>
        </div>
    </div>
</body>
</html>