<!DOCTYPE html>
<html>
	<head>

		<!-- 引入 Vue 和 Vuetify 的 JS -->
		<script src="../js/vue.js"></script>
		<script src="../js/vuetify.js"></script>
		<script src="../js/socket.io.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/vuex.global.min.js"></script>
		<!-- 引入 Vuetify 的 CSS -->
		<link href="../css/materialdesignicons.min.css" rel="stylesheet">
		<link href="../css/vuetify.min.css" rel="stylesheet">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>

		<div id="app">
			<!-- App.vue 根组件 -->
			<v-app id="inspire">

				<v-system-bar app>
					<v-spacer></v-spacer>
					<v-btn icon>
						<!-- 设置图标 -->
						<v-icon>mdi-cog</v-icon>
					</v-btn>

					<!-- 切换日夜模式按钮 -->
					<v-btn icon @click="toggleDarkMode">
						<v-icon>{{ darkMode ? 'mdi-white-balance-sunny' : 'mdi-brightness-2' }}</v-icon>
					</v-btn>

					<!-- 切换多语言模型按钮 -->
					<v-btn icon @click="toggleLanguage">
						<v-icon>mdi-translate</v-icon>
					</v-btn>
				</v-system-bar>


				<v-navigation-drawer v-model="drawer" app absolute mini-variant>
					<v-avatar class="d-block text-center mx-auto mt-4" size="36">
						<v-img src="../img/a-lovely-human-being.png" alt="Image description"></v-img>
					</v-avatar>

					<v-divider class="mx-3 my-5"></v-divider>


					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/chat.html')">
						<v-icon>mdi-chat</v-icon>
					</v-btn>


					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/data.html')">
						<v-icon>mdi-database</v-icon>
					</v-btn>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9" @click="topage('')">
						<v-icon>mdi-alert</v-icon>
					</v-btn>
				</v-navigation-drawer>

				<v-main>
					<v-list>
						<v-list-item v-for="(item, index) in warningList" :key="index">
							<v-list-item-content>
								<v-list-item-title>{{ item.title }}</v-list-item-title>
								<v-list-item-subtitle>{{ item.time }}</v-list-item-subtitle>
							</v-list-item-content>
						</v-list-item>
					</v-list>

				</v-main>

			</v-app>
		</div>

		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify({
					icons: {
						iconfont: 'mdi', // 默认图标集
					},
				}),
				data() {
					return {
						// 你的数据属性
						drawer: true,
						darkMode: false,
						language: true, // 添加 language 属性
						warningList: [{
								title: '警告1',
								time: '2024-04-18 10:00:00'
							},
							{
								title: '警告2',
								time: '2024-04-18 11:30:00'
							},
							{
								title: '警告3',
								time: '2024-04-18 13:45:00'
							}
						],
						chartData: [3, 4, 2, 5, 1, 6, 3], // 这里是你的折线图数据

					}

				},
				methods: {
					topage(route) {
						window.open(route, "_self")

					},
					getCookie(name) {
						const cookieMap = {};
						const cookies = document.cookie.split("; ");
						cookies.forEach(cookie => {
							const [key, value] = cookie.split("=");
							cookieMap[key] = value;
						});
						return cookieMap[name];
					},
					setCookie(name, value, days) {
						let expires = "";
						if (days) {
							const date = new Date();
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							expires = "; expires=" + date.toUTCString();
						}
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					},
					toggleDarkMode() {
						this.darkMode = !this.darkMode;
						// 在这里可以添加切换日夜模式的逻辑
						this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
					},

					toggleLanguage() {
						// 这里可以添加切换语言的逻辑
					}

				},
				beforeDestroy() {

				},
				mounted() {

				}
			})
		</script>

	</body>
</html>