<!DOCTYPE html>
<html>
	<head>

		<!-- 引入 Vue 和 Vuetify 的 JS -->
		<script src="../js/vue.js"></script>
		<script src="../js/vuetify.js"></script>
		<script src="../js/socket.io.min.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/vuex.global.min.js"></script>
		<!-- 引入 Vuetify 的 CSS -->
		<link href="../css/materialdesignicons.min.css" rel="stylesheet">
		<link href="../css/vuetify.min.css" rel="stylesheet">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>

		<div id="app">
			<!-- 确认对话框 -->
			<v-dialog v-model="dialog" max-width="400">
				<v-card>
					<v-card-title>确认修改</v-card-title>
					<v-card-text>确定要修改吗？</v-card-text>
					<v-card-actions>
						<v-btn color="red darken-1" text @click="closeDialog">取消</v-btn>
						<v-btn color="green darken-1" text @click="submitForm">确定</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- App.vue 根组件 -->
			<v-app id="inspire">

				<v-system-bar app>
					<v-spacer></v-spacer>
					<v-btn icon>
						<!-- 设置图标 -->
						<v-icon>mdi-cog</v-icon>
					</v-btn>

					<!-- 切换日夜模式按钮 -->
					<v-btn icon @click="toggleDarkMode">
						<v-icon>{{ darkMode ? 'mdi-white-balance-sunny' : 'mdi-brightness-2' }}</v-icon>
					</v-btn>

					<!-- 切换多语言模型按钮 -->
					<v-btn icon @click="toggleLanguage">
						<v-icon>mdi-translate</v-icon>
					</v-btn>
				</v-system-bar>


				<v-navigation-drawer v-model="drawer" app absolute mini-variant>
					<v-avatar class="d-block text-center mx-auto mt-4" size="36">
						<v-img src="../img/a-lovely-human-being.png" alt="Image description"></v-img>
					</v-avatar>

					<v-divider class="mx-3 my-5"></v-divider>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/chat.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-chat</v-icon>
							</template>
							<span>聊天</span>
						</v-tooltip>
					</v-btn>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9"
						@click="topage('/mind/views/data.html')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-database</v-icon>
							</template>
							<span>数据</span>
						</v-tooltip>
					</v-btn>

					<v-btn icon size="28" class="d-block text-center mx-auto mb-9" @click="topage('')">
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on">mdi-alert</v-icon>
							</template>
							<span>警告</span>
						</v-tooltip>
					</v-btn>
				</v-navigation-drawer>


				<v-main>
					<v-container>
						<v-row>
							<v-col cols="4">
								<div>
									<span class="headline">紧急联系人信息</span>
								</div>
								<div>
									<v-text-field v-model="contact.name" label="姓名" outlined
										prepend-inner-icon="mdi-account"></v-text-field>
									<v-text-field v-model="contact.relationship" label="关系" outlined
										prepend-inner-icon="mdi-account-heart"></v-text-field>
									<v-text-field v-model="contact.phone" label="电话" outlined
										prepend-inner-icon="mdi-phone"></v-text-field>
									<v-text-field v-model="contact.email" label="邮箱" outlined
										prepend-inner-icon="mdi-email"></v-text-field>
									<v-btn @click="openDialog" color="primary">修改</v-btn>
								</div>


							</v-col>
							<v-col cols="1">
								<v-divider vertical></v-divider> <!-- 垂直分隔线 -->
							</v-col>
							<v-col cols="7">
								<div>
									<span class="headline">警告列表</span>
								</div>
								<v-list style="max-height: 400px; overflow-y: auto;">
									<v-list-item v-for="(item, index) in warningList" :key="index">
										<v-list-item-content>
											<v-list-item-title>{{ item.title }}</v-list-item-title>
											<v-list-item-subtitle>{{ item.time }}</v-list-item-subtitle>
										</v-list-item-content>
									</v-list-item>
								</v-list>
							</v-col>
						</v-row>
					</v-container>

				</v-main>
				<v-footer padless style="width: 100%;">
					<v-card flat tile class="lighten-1  text-center" style="width: 100%;">
						<v-card-text>
							<v-btn v-for="icon in icons" :key="icon" class="mx-4 " icon>
								<v-icon size="24px">{{ icon }}</v-icon>
							</v-btn>
						</v-card-text>

						<v-card-text class=" pt-0">
							<h2 class="headline">关于我们 - 心聆守护</h2>
							<p>我们致力于提供最优质的心理健康服务，帮助用户更好地管理情绪、缓解压力，实现心理健康与幸福。</p>
						</v-card-text>

						<v-divider></v-divider>

						<v-card-text>
							{{ new Date().getFullYear() }} — <strong>心聆守护</strong>
						</v-card-text>
					</v-card>
				</v-footer>
			</v-app>
		</div>
		<style scoped>
			.container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				/* 垂直居上 */
			}

			.form {
				width: 45%;
				/* 表单宽度 */
			}

			.warning-list {
				width: 45%;
				/* 警告列表宽度 */
				max-height: 300px;
				/* 设置警告列表的最大高度 */
				overflow-y: auto;
				/* 超出高度时显示滚动条 */
			}
		</style>


		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify({
					icons: {
						iconfont: 'mdi', // 默认图标集
					},
				}),
				data() {
					return {
						// 你的数据属性
						url: "http://127.0.0.1:8080/api",
						user_id: 0,
						have: false,
						contact: {
							user_id: 0,
							name: "",
							relationship: "",
							phone: "",
							email: ""
						},
						dialog: false,
						drawer: true,
						darkMode: false,
						language: true, // 添加 language 属性
						warningList: [{
								title: '警告1',
								time: '2024-04-18 10:00:00'
							},
							{
								title: '警告2',
								time: '2024-04-18 11:30:00'
							},
							{
								title: '警告3',
								time: '2024-04-18 13:45:00'
							},
							{
								title: '警告1',
								time: '2024-04-18 10:00:00'
							},
							{
								title: '警告2',
								time: '2024-04-18 11:30:00'
							},
							{
								title: '警告3',
								time: '2024-04-18 13:45:00'
							},
							{
								title: '警告1',
								time: '2024-04-18 10:00:00'
							},
							{
								title: '警告2',
								time: '2024-04-18 11:30:00'
							},
							{
								title: '警告3',
								time: '2024-04-18 13:45:00'
							},

						]


					}

				},
				methods: {
					openDialog() {
						this.dialog = true;
					},
					closeDialog() {
						this.dialog = false;
					},
					topage(route) {
						window.open(route, "_self")

					},
					getCookie(name) {
						const cookieMap = {};
						const cookies = document.cookie.split("; ");
						cookies.forEach(cookie => {
							const [key, value] = cookie.split("=");
							cookieMap[key] = value;
						});
						return cookieMap[name];
					},
					setCookie(name, value, days) {
						let expires = "";
						if (days) {
							const date = new Date();
							date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
							expires = "; expires=" + date.toUTCString();
						}
						document.cookie = name + "=" + (value || "") + expires + "; path=/";
					},
					toggleDarkMode() {
						this.darkMode = !this.darkMode;
						// 在这里可以添加切换日夜模式的逻辑
						this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
					},

					toggleLanguage() {
						// 这里可以添加切换语言的逻辑
					},
					submitForm() {
						// 关闭确认对话框
						this.dialog = false;

						// 在这里发送表单数据到服务器
						let url = this.url + "/contact/create"
						if (this.have) {
							url = this.url + "/contact/update"

						}
						axios.post(url, {
									user_id: this.contact.user_id,
									name: this.contact.name,
									phone: this.contact.phone,
									email:this.contact.email,
							})
							.then(response => {
								// 处理成功响应
								console.log(response.data);
							})
							.catch(error => {
								// 处理错误响应
								console.error(error);
							});
					},
					getContact() {
						// 在这里发送表单数据到服务器
						axios.post(this.url + '/contact/me_detail', {
								user_id: this.user_id
							}, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded'
								}
							})
							.then(response => {
								console.log(this.contact)
								// 处理成功响应
								data = response.data
								if (data.data != null) {
									this.have == true
								}

								console.log(response.data);
							})
							.catch(error => {
								// 处理错误响应
								console.error(error);
							});
					},
					getWarningList() {
						// 在这里发送表单数据到服务器
						axios.post(this.url + '/warning/me_detail', {
								user_id: this.user_id
							}, {
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded'
								}
							})
							.then(response => {
								// 处理成功响应
								data = response.data
								if (data.data != null) {
									this.have == true
								}

								console.log(response.data);
							})
							.catch(error => {
								// 处理错误响应
								console.error(error);
							});
					}

				},
				beforeDestroy() {

				},
				mounted() {
					this.user_id = this.getCookie("user_id");
					this.contact.user_id = Number.parseInt(this.user_id);
					this.getContact();
					this.getWarningList();


				}
			})
		</script>

	</body>
</html>